.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 377px;
  height: 375px;
  background-color: black;
}

.grid div {
  width: 25px;
  height: 25px;
}

.grid div.shooter {
  background-image: url("shooter.png");
  background-size: cover;
}

.grid div.invader {
  background-image: url("./invader.jpg");
  background-size: cover;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.boom {
  background-image: url("boom.jpg");
  background-size: cover;
}

.grid div.laser {
  background-image: url("laser.jpg");
  background-size: cover;
}

#heading {
  height: 18vh;
  width: 100vw;
  margin: 0;
  padding-top: 3.5vh;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  background-color: rgb(240, 252, 72);
  color: black;
  font-family: "Dancing Script", cursive;
}

#rules {
  width: 100vw;
  height: 5vh;
  margin: 0;
  font-size: 1.25rem;
  background-color: rgb(240, 252, 72);
  color: black;
  font-family: "Dancing Script", cursive;
  text-align: center;
  padding-bottom: 7.5vh;
}

#navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  background-color: #28334aff;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
}

#start {
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
}

#start:hover {
  cursor: pointer;
  background-color: rgb(18, 23, 34);
}

#score,
#message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 64.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #422057ff;
}
