.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-image: url("hole.jpg");
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}

#heading {
  height: 22.5vh;
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  background-color: rgb(240, 252, 72);
  color: black;
  font-family: "Dancing Script", cursive;
}

#navbar {
  height: 10vh;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  background-color: #28334aff;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
}

#div-score,
#message {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset:hover {
  cursor: pointer;
  background-color: rgb(18, 23, 34);
}

.container {
  width: 100vw;
  height: 67.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68310d;
}


